* {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(https://img.freepik.com/premium-photo/blurry-background-terrible-traffic-jam-city_43780-3276.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    scroll-behavior: smooth;
}
.container {
    width: 100%;
    height: 100%;
    background-size: cover;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 30px;
    box-sizing: border-box;
}
.navbar {
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 0%;
    padding-right: 0%;
}
.logo {
    width: 150px;
    cursor: pointer;
    padding-left: 2%;
    padding-top: 1%;
    margin-bottom: 25px;
}
nav {
    flex: 1;
    text-align: left;
    margin-left: 0px;
}
nav ul {
    text-align: center;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
    text-align: center;
    width: 70px;
    font-size: 12px;
}
nav ul li img {
    transition-duration: 0.4s;
}
nav ul li img:hover {
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.05);
}
.row {
    display: flex;
    margin-top: 5px;
    align-items: center;
    padding-left: 5%;
    flex-wrap: wrap;
}
h1 {
    color: rgb(66, 66, 66);
    font-size: 80px;
    margin-left: 5%;
    margin-top: 15px;
}
h2 {
    color: rgb(66, 66, 66);
    font-size: 25px;
}
h5 {
    color: rgb(39, 163, 27);
    font-weight: bold;
    font-size: 18px;
}
p {
    color: rgb(66, 66, 66);
    font-size: 14px;
    line-height: 15px;
}
button {
    width: 200px;
    color: black;
    padding: 12px 0;
    background: #fff;
    border-radius: 20px;
    border: 0;
    outline: none;
    margin-top: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
button:hover {
    background: rgb(66, 66, 66);
    color: #fff;
    cursor: pointer;
}
.card {
    width: 350px;
    height: 190px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 25px;
    margin-right: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: top;
    transition: transform 0.2s;
}
.cardPro1 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-04/Star%20Asset_1.png);
    background-position: center;
}
.cardPro2 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-04/Star%20e%20Bike_0.png);
    background-position: bottom;
}
.cardPro3 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-04/e%20com3_2.png);
    background-position: center;
}
.cardPro4 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2019-12/StarLink%20EV.png);
    background-position: center;
}
.cardPro5 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-07/StarLink%20OBD.png);
    background-position: center;
}
.cardPro6 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-07/StarLink%20One.png);
    background-position: center;
}
.cardPro7 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-04/e%20com3_1.png);
    background-position: center;
}
.cardPro8 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-07/StarLink%20Tracker%20-%20ERM_0.jpg);
    background-position: center;
}
.cardPro9 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-07/StarLink%20Voice.png);
    background-position: center;
}
.cardPro10 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-07/05_1.png);
    background-position: center;
}
.cardPro11 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-08/StarLink%20Wii-Fi_0.png);
    background-position: center;
}
.cardPro12 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-04/e%20com3_0.png);
    background-position: center;
}
.cardPro13 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-04/e%20cut%20hammer%203.png);
    background-position: center;
}
.cardPro14 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-06/eDATA2.png);
    background-position: center;
}
.cardPro15 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-04/e%20Flash1_0.png);
    background-position: center;
}
.cardPro16 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-10/eFlash%20SF.png);
    background-position: center;
}
.cardPro17 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-06/e%20Fuel2.png);
    background-position: center;
}
.cardPro18 {
    background-image: linear-gradient( rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.05) );
    background-position: center;
}
.cardPro19 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-04/e%20Mix1.png);
    background-position: center;
}
.cardPro20 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-07/eSafe.png);
    background-position: center;
}
.cardPro21 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-04/e%20speaker_0.png);
    background-position: center;
}
.cardPro22 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-07/LCA.png);
    background-position: center;
}
.cardPro23 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2019-10/IoTLink.png);
    background-position: center;
}
.cardPro24 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-04/EDA%20tmps%202.png);
    background-position: center;
}
.cardPro25 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-07/Driver%20ID%20-%20ibutton.png);
    background-position: center;
}
.cardPro26 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-06/key%20pad_0.png);
    background-position: center;
}
.cardPro27 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-07/Smart%20Window.png);
    background-position: center;
}
.cardPro28 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-07/StarLock.png);
    background-position: center;
}
.cardPro29 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-07/Temp.%20Sensor.png);
    background-position: center;
}
.cardPro30 {
    background-image: url(https://www.ermtelematics.com/sites/default/files/2018-07/LCA.png);
    background-position: center;
}
.card:hover {
    transform: translateY(-10px);
}

@media only screen and (max-width: 768px) {
    .card {width: 200px; height: 100px;}
}

.footer {
    line-height: 50px;
}